################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/QA_A2_Group9/FileContentIndex/939b1b30-d633-4d53-8e6c-96498bec4aa1.vsidx
# Visual Studio files
.vs/
bin/
obj/
*.user
*.suo